mixin header(contents)
  h3=contents

mixin basicBlock(title, content)
  h4!=title
  if content
    p=content
  else
    p ei syötetty

mixin tableHeader(title)
  th(style="text-align: left; width: 25%")=title

mixin plannedTable(title, rows)
  h4=title
  table(width="100%")
    thead
      +tableHeader("Ajankohta")
      +tableHeader("Aine")
      +tableHeader("Pakollisuus")
      +tableHeader("")
    tbody
      if rows
        each row in rows
          if row.status == "PLANNED"
            tr
              td
                if row.term == "AUTUMN" 
                  |Syksy
                else
                  |Kevät
                | 
                =row.year
              td
                =subjects[row.subject]
              td
                if row.mandatory
                  |Kyllä
                else
                  |Ei    
              td

mixin enrolledTable(title, rows)
  h4=title
  table(width="100%")
    thead
      +tableHeader("Aine")
      +tableHeader("Pakollisuus")
      +tableHeader("Uusiminen")
      +tableHeader("")
    tbody
      if rows
        each row in rows
          if row.status == "ENROLLED"
            tr
              td
                =subjects[row.subject]
              td
                if row.mandatory
                  |Kyllä
                else
                  |Ei  
              td
                if row.repeat
                  |Kyllä
                else
                  |Ei  
              td

mixin finishedTable(title, rows)
  h4=title
  table(width="100%")
    thead
      +tableHeader("Ajankohta")
      +tableHeader("Aine")
      +tableHeader("Pakollisuus")
      +tableHeader("Arvosana")
    tbody
      if rows
        each row in rows
          if row.status == "FINISHED"
            tr
              td
                if row.term == "AUTUMN" 
                  |Syksy
                else
                  |Kevät
                | 
                =row.year
              td
                =subjects[row.subject]
              td
                if row.mandatory
                  |Kyllä
                else
                  |Ei  
              td
                case row.grade
                  when 'APPROBATUR'
                    |A (Approbatur)
                  when 'IMPROBATUR'
                    |I (Improbatur)                  
                  when 'LUBENTER_APPROBATUR'
                    |B (Lubenter approbatur)
                  when 'CUM_LAUDE_APPROBATUR'
                    |C (Cum laude approbatur)
                  when 'MAGNA_CUM_LAUDE_APPROBATUR'
                    |M (Magna cum laude approbatur)
                  when 'EXIMIA_CUM_LAUDE_APPROBATUR'
                    |E (Eximia cum laude approbatur)
                  when 'LAUDATUR'
                    |L (Laudatur)
                  default
                    |Ei vielä tiedossa

mixin signatureSection()
  table(style="width: 70%; table-layout: fixed; margin-top: 4em")
    tbody
      tr
        td(width="25%", style="border-bottom: 1px solid")
        td(width="5%")
        td(width="70%", style="border-bottom: 1px solid")
      tr
        td
          |Päivämäärä
        td
        td
          |Allekirjoitus


+header("Perustiedot")

+basicBlock("Nimi", enrollment.name)
+basicBlock("Sähköpostiosoite", enrollment.email)
+basicBlock("Puhelinnumero", enrollment.phone)
+basicBlock("Osoite", enrollment.address)
+basicBlock("Postinumero", enrollment.postalCode)
+basicBlock("Postitoimipaikka", enrollment.city)

+header("Opiskelijatiedot")
+basicBlock("Ohjaaja", enrollment.guider)

if enrollment.enrollAs == 'UPPERSECONDARY'
  +basicBlock("Ilmoittautuminen", "Lukion opiskelijana")
if enrollment.enrollAs == 'VOCATIONAL'
  +basicBlock("Ilmoittautuminen", "Ammatillisten opintojen perusteella")
  
+basicBlock("Pakollisia kursseja suoritettuna", enrollment.numMandatoryCourses)

if enrollment.restartExam
  +basicBlock("Aloitan tutkinnon suorittamisen uudelleen", "Kyllä")
else
  +basicBlock("Aloitan tutkinnon suorittamisen uudelleen", "En")

+enrolledTable("Ilmoittaudun suorittamaan kokeen seuraavissa aineissa", enrollment.attendances)
+finishedTable("Olen jo suorittanut seuraavat ylioppilaskokeet", enrollment.attendances)
+plannedTable("Aion suorittaa seuraavat ylioppilaskokeet tulevaisuudessa", enrollment.attendances)

+header("Kokeen suorittaminen")

+basicBlock("Suorituspaikka", enrollment.location)
+basicBlock("Lisätietoa ohjaajalle", enrollment.message)

if enrollment.canPublishName
  +basicBlock("Julkaisulupa", "Haluan nimeni julkaistavan valmistujalistauksissa")
else
  +basicBlock("Julkaisulupa", "En halua nimeäni julkaistavan valmistujaislistauksissa")

+signatureSection()
